
/* General */
body{
  background-color: #f9f4ed;
  color: #2a2a2a;
  margin: 0;
  padding-right: 0 !important;
}

a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}

/* .container-fluid{
    padding:0;
    margin: 0;
} */

.navbar{
  background-color: #f9f4ed;
  margin-top: 0px;
  transition: margin-top 1s;
  padding: 8px 10px 8px 10px;
}

#offcanvasNavbar{
  background-color: #eaeaea;
}

.thick-line{
  height: 300px;
  background-color: #af695c;
}
.quran-sign{
  display: block;
  margin: auto;
}

.intro-text{
  background-color: #eaeaea;
  border: 1px solid #af695c;
  border-radius: 5px;
  margin: 20px 10px 0 10px;
  color:inherit;
  padding: 10px 10px 10px 10px;
}

.intro-text h5{
  color:#af695c;
}

.sura-table{
  margin: 20px 10px 40px 10px;
}

.sura-box{
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 15px 0 15px 12px;
}

.rhombus-col{
  margin-right:10px;
  margin-left: 2%;
}

.rhombus{
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  border-radius: 4px;
}

.sura-number{
  transform: rotate(-45deg);
  font-size: 1.1em;
  font-weight: 600;
}

.sura-box-text-left{
  margin-left:20px;
  padding-right: 0;
}

.sura-box-text-right{
  padding: 0;
  text-align: right;
}

.sura-name-kazakh{
  font-weight: 600;
}

.sura-translation{
  font-size: 0.7em;
  font-weight: 500;
  opacity: 70%;
}

.sura-name-arabic{
  font-weight: 600;
  font-size: 1.2rem;
  font-family: 'Scheherazade New', serif;
}

.ayat-number{
  font-size: 0.8em;
  font-weight: 500;
  opacity: 70%;
}

.sura-box:hover{
  background-color: #eaeaea;
  border: 1px solid #af695c;
}

.sura-box:hover .rhombus{
  background-color: #af695c;
  border: 1px solid #af695c;
  color: #eaeaea;
}

.sura-box:hover .sura-translation{
  color: #af695c;
  opacity: 100%;
}

.sura-box:hover .ayat-number{
  color: #af695c;
  opacity: 100%;
}

@media (min-width: 1320px) {
  .container{
    max-width:1220px;
  }
}

@media (min-width: 576px) {
  .intro-text{
    margin: 20px 10% 0 10%;
  }
  .sura-table{
    margin: 20px 10% 40px 10%;
  }
}

.footer{
  margin-top: 60px;
  margin-bottom: 30px;
}
